html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* src/fonts/fonts.css */
@font-face {
  font-family: 'libre';
  src: url('../public/font/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* You can add more @font-face rules for different font weights or styles if needed */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* navbar */
.brand{
  width: 56px;
  
}
.login-btn{
  font-size: 18px;
  font-family:  libre, sans-serif;
}
.sign-btn{
  font-size: 18px;
  font-family:  libre, sans-serif;
  background-color: black;
  color: white;
}
.font-nav{
  font-family:  libre, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:"rgb(47, 125, 124)";
  font-family: libre;
}
/* home */
.heading{
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: libre,sans-serif;
  font-size: 4vw;
  font-weight: 700;
  margin-top: 50px;
}
.small-heading{
  font-family: libre,sans-serif;
  font-weight: 900;
  font-size: 22px;
}
.filter-btn-all{
    background-color: #000;
    border-radius: 50px;
    padding: 15px 25px;
    font-family: Libre ,sans-serif;
    font-size: 16px;
    color: white;
  
}
.filter-btn{
    color: #3d4848;
    background-color: rgba(56,152,236,0);
    border: 1px solid #000;
    border-radius: 50px;
    padding: 15px 25px;
    font-family: Libre ,sans-serif;
    font-size: 16px;
    width: 278px;
}

.image-126{
  z-index: 50;
    height: 1.8em;
    opacity: .49;
    position: absolute;
    top: 5px;
    bottom: auto;
    left: auto;
    right: 13px;
}
.text-field-2{
  height: 50px;
  border-radius: 50px;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 30px;
  font-family: Libre Franklin,sans-serif;
  font-size: 18px;
}
.w-input{
  width: 100%;
    height: 38px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}
.w-form{
  margin: 0 0 15px;
}
.input-grp{
  position: relative;
}
/* ---------------------------footer */
.footer-main{
  background-color: #021717;
  height: 430px;
}
.contact-footer{
  margin-top: 27px;
}
.button-2 {
  color: #000;
  background-image: linear-gradient(#15a4ac,#e5f5b6);
  border-radius: 27px;
  padding: 1.25rem 2rem;
  font-family: Libre Franklin,sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.w-button {
 
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
 
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}
.footer-sub-header-1{
  font-size: 1.5vw;
  /* margin: 20px 8px 12px 20px; */
  color:#727E7E;
}
.footer-sub-header-2{
  font-size: 1.3vw;
  line-height: 1px;
  color:#727E7E;
}
.card-img-top{
  border-radius: 20px;
  height: 230px;
}
.card-title{
  font-weight: bold;
}
.mobile-view{
  font-weight: 900;
  color: #2f7d7c;
  font-size: 20px;
  line-height:  20px;
}
@media (max-width: 768px) {
  .list-filter {
    flex-direction: column;
  }
  .filter-btn-all{
    background-color: #000;
    border-radius: 50px;
    padding: 15px 25px;
    font-family: Libre ,sans-serif;
    font-size: 16px;
    color: white;
    width: 278px;
}

  .list-filter button {
    margin: 5px 0;
  }
  .login-btn{
    border-color:rgb(47, 125, 124) ;
  }
  .sign-btn{
    background-image: linear-gradient(#15a4ac,#e5f5b6);
    color: #000;
  }
  .footer-sub-header-1{
    font-size: 2.5vw;
  }
  .footer-sub-header-2{
    font-size: 2vw;
  }
}
